.main_maincontainer{
width: 1261px;
height: 700px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #0665F4;
background: rgba(100, 40, 137, 0.08);
margin-left: 150px;
margin-top: 70px;
}

.request_text{
    width: 244px;
    height: 44px;
    flex-shrink: 0;
    color: #4A3C3C;
    
text-align: justify;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 167.523%; /* 40.205px */
}

.request_container{
    width: 534px;
height: 48px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #000;


}
.mini_container{
    width: 1000px;
height: 1000px;
margin-left: 20px;
margin-top:100px;
}
.button_request{
    width: 209px;
height: 62px;
flex-shrink: 0;
border-radius: 100px;
background: #FA9746;
margin-bottom: 30px;
}