.body{
    background-color: aliceblue;
}


.Maintenance_container{
    color: #000;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -60px;
}