/* maintainancerequests.module.css */

/* Global styles */
.body {
    background-color: aliceblue;
}

/* Component-specific styles */
.Maintenance_container {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -60px;
}

.Request_font {
    /* Add any styles for the heading */
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

li {
    line-height: 1.5; /* Adjust line height as needed */
    margin-bottom: 10px; /* Add some margin between list items */
    font-weight: normal;
    /* Add any other styles for list items */
}
