
.main-container {
  text-align: center;
  display: flex;
  min-height: 100vh;
 
  align-items: center;
  justify-content: center;
  
  
}

.MaintenanceRequestDetail .table-container {
  color: black;
  background-color:#f0f0f0;
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(196, 193, 193);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: Inter;
  font-size: 17px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}


.student-page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-section {
  flex: 1;
  border-radius: 35px;
  width: 450px;
  margin-right: 20px;
  background-color: #e2d9d9; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: #000;
    font-family: Inter;
    
    font-style: normal;
    
    line-height: normal;
    
}



.right-section {
  flex: 1;
  margin-left: 20px;
  border-radius: 35px;
  width: 550px;
  background-color: #e2d9d9; /* Light gray background */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Soft shadow */
  font-family: Inter;
    
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  
}

.button-style {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}


.table-container {
  margin: 70px 10px 0 0px;
  background-color: blanchedalmond; 
  align-items: center;
  position: relative;
  overflow:visible;

}


